<div id="leads">
  <div class="tabs">
    <ul><li><%= link_to_function "Results", "return false;", :class => "selected" %></li></ul>
  </div>
  <% unless @contacts.empty? %>
    <table class="list left-th">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
      <% @contacts.each do |contact| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= link_to contact.name, {:controller => 'lead_contacts', :action => 'show', :id => contact.id}, :title => "Show Contact Information" %></td>
          <td><%= contact.city %></td>
          <td><%= contact.email %></td>
          <td><%= contact.website %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="nodata"><%=l(:label_no_data)%></p>
  <% end %>
</div>
