<% send_to_lead = params[:from_lead] || from_lead %> 

<div class="box">
    <%= error_messages_for :lead_contact %>
  <%= render :partial => "leads/org_details", :locals => {:f => f, :belongs_to => "lead_contact", :org => org} %>
  <br/>
  <fieldset>
    <legend>Contact Details</legend>

    <p><%= f.text_field :designation, :label => "Designation", :required => true %></p>

    <p><%= f.text_field :name, :label => "Name", :required => true %></p>
    
    <p>
      <label>City</label>
      <%= text_field_with_auto_complete 'location', 'name_1', {:value => @lead_contact.city, :id => "location_name_1"}, :url => {:action => "auto_complete_for_location_name", :controller => "lead_contacts"} -%>
    </p>

    <p><%= f.eoc_text_field 'email', :label=> "Email", :alt_text => "Enter Email" -%></p>
      
    <p><%= f.eoc_text_field 'website', :label=> "Website", :alt_text => "Add Website Address" -%></p>
    
    <p><%= f.eoc_text_field 'mobile', :label=> "Mobile", :alt_text => "10 digit mobile number" -%></p>
      
    <p><%= f.eoc_text_field 'landline', :label=> "Landline", :alt_text => "landline number, with std code " -%></p>
      
    <p><%= f.eoc_text_area 'contact_details', :label=> "Contact Details", :rows => 4, :alt_text => "Add address and phone number" -%></p>

    <% if @lead %>
      <%= f.hidden_field :lead_id, :value => @lead.id %>
    <% end %>

    <% if send_to_lead %>
      <%= hidden_field_tag :send_to_lead, true %>
    <% end %>
  </fieldset>
</div>

<%= submit_tag l(:button_save) -%> or 
<% if ["new", "edit"].include?(controller.action_name) %>
  <% if send_to_lead %>
    <%= link_to "Cancel", {:controller => "leads", :action => "show", :id => @lead.id} %>
  <% else %>
    <% if @lead_contact.new_record? %>
      <%= link_to "Cancel", {:controller => "lead_contacts", :action => "index"} %>
    <% else %>
      <%= link_to "Cancel", {:controller => "lead_contacts", :action => "show", :id => @lead_contact.id} %>
    <% end %>

  <% end %>
<% end %>
<br/><br/><br/><br/>
