<div class="contextual">
  <%= link_to "search", {:controller => 'lead_contacts', :action => 'index'}, :class => 'icon icon-search' %>
  <% if @lead_contact.editable_by?(User.current) %>
    <%= link_to l(:button_edit), {:controller => 'lead_contacts', :action => 'edit', :id => @lead_contact.id}, :class => 'icon icon-edit' unless @lead_contact.nil? %>
  <% end %>
  <% if Lead.assignable_members.include?(User.current) %>
    <%= link_to "new", {:controller => 'lead_contacts', :action => 'new'}, :class => 'icon icon-add' %>
  <% end %>
</div>


<h2>Contact Details</h2>

<div class="box">
    <table>
      <tr><td><b>Designation:</b></td><td><%= @lead_contact.designation %></td></tr>
      <tr><td><b>Name:</b></td><td><%= @lead_contact.name %></td></tr>
      <% if @lead_contact.org %>
        <tr><td><b>Organization:</b></td><td><%= @lead_contact.org.name%></td></tr>
        <tr><td><b>Designation:</b></td><td><%= @lead_contact.designation %></td></tr>
      <% end %>
      <tr><td><b>City:</b></td><td><%= @lead_contact.city %></td></tr>
      <tr><td><b>Website:</b></td><td><%= @lead_contact.website %></td></tr>
      <tr><td><b>Email:</b></td><td><%= @lead_contact.email %></td></tr>
      <tr><td><b>Mobile:</b></td><td><%= @lead_contact.mobile %></td></tr>
      <tr><td><b>Landline:</b></td><td><%= @lead_contact.landline %></td></tr>
      <tr><td style="vertical-align:top"><b>Contact Details:</b></td><td><%= @lead_contact.contact_details_html %></td></tr>
    </table>
</div>

<% if @lead_contact.org %>
<fieldset>
  <legend>Organization Details - <%= @lead_contact.org.name %></legend>
  <table>
    <tr><td><b>Location:</b></td><td><%= @lead_contact.org.location %></td></tr>
    <tr><td><b>Category:</b></td><td><%= @lead_contact.org.category %></td></tr>
    <tr><td><b>Head Count:</b></td><td><%= @lead_contact.org.head_count %></td></tr>
    <tr><td><b>Email:</b></td><td><%= @lead_contact.org.email %></td></tr>
    <tr><td><b>Website:</b></td><td><%= @lead_contact.org.website %></td></tr>
    <tr><td><b>Contact Details:</b></td><td><%= @lead_contact.org.contact_details %></td></tr>
  </table>
</fieldset>
<% end %>
