<div class="box">
  <fieldset>
    <legend>Date and Type</legend>
    <%= error_messages_for :lead_note %>

    <p> <%= f.text_field :date, :label => "Date", :required => true, :alt_text => "Set Note Date" %><%= calendar_with_time_for('lead_note_date')  %></p>

    <p> <%= f.select :category, LeadNote::CATEGORIES, :label => "Category", :required => true %></p>
    
    <p> <%= f.select :state, ["Pending", "Completed"], :label => "State", :required => true %></p>
  </fieldset>
  <fieldset>
    <legend>Details</legend>
    <% text_area_options = {:rows => 3, :cols => 60} %>
    <p><%= f.eoc_text_field :corresponded_to, {:label => "Corresponded To", :alt_text => "Name of the person corresponded with"} %></p>
    
    <p><%= f.eoc_select 'corresponder_id', @lead.assignable_members.collect{|p| [p.name, p.id]}, {:include_blank => true, :selected => @lead.assigned_to_id, :alt_text => "Person who corresponded on Intinno's behalf."}, {} -%></p>

    <p><%= f.eoc_text_area :existing_systems , {:label => "Existing System", :alt_text => "Describe Exisiting Systems"}.merge(text_area_options) %></p>

    <p><%= f.eoc_text_area :quote_given , {:label => "Quote Given", :alt_text => "Add Quote Given"}.merge(text_area_options) %></p>

    <p><%= f.eoc_select :response , LeadNote::RESPONSE_TYPES, {:label => "Response", :include_blank => true}, {} %></p>

    <p><%= f.eoc_text_area :docs_sent , {:label => "Documents Sent", :alt_text => "Add Docs Sent"}.merge(text_area_options)  %></p>

    <p><%= f.eoc_text_area :features_interested , {:label => "Features Interested In", :alt_text => "List the features interested in."}.merge(text_area_options)  %></p>

    <p><%= f.eoc_text_area :customizations , {:label => "Customizations Required", :alt_text => "List Customizations required, if any" }.merge(text_area_options)  %></p>

    <p><%= f.eoc_text_area :issues , {:label => "Issues/Problems", :alt_text => "List Issues, if any"}.merge(text_area_options)  %></p>

    <p><%= f.eoc_text_area :other_details , {:label => "Other Details", :alt_text => "Other Details", :class => "wiki-edit", :rows => 10, :cols => 60}  %></p>

    <%= f.hidden_field :lead_id, :value => @lead.id %>
  </fieldset>
  <% if @add_follow_up %>
  <fieldset>
    <legend>Followup Event</legend>
    <% fields_for "lead_note[followup_event]", (@lead_note.followup_event || LeadNote.new), :builder => TabularFormBuilder do |fl| %>
      <p> <%= fl.text_field :date, :label => "Date", :required => true, :alt_text => "Set Note Date" %><%= calendar_with_time_for('lead_note_followup_event_date')  %></p>

      <p> <%= fl.select :category, LeadNote::CATEGORIES, :label => "Category", :required => true %></p>
    
      <p> <%= fl.select :state, ["Pending", "Completed"], :label => "State", :required => true %></p>
      
      <%= fl.hidden_field :lead_id, :value => @lead.id %>
      <%= fl.hidden_field :author_id, :value => User.current.id %>
      <%= fl.hidden_field :author_id, :value => User.current.id %>
    <% end %>
  </fieldset>
  <% end %>
</div>

<%= submit_tag l(:button_save) -%>
<% if controller.action_name.eql?("edit") %>
  or <%= link_to "Cancel", {:controller => "leads", :action => "show", :id => @lead.id} %>
<% end %>
<br/><br/><br/><br/>

<%= wikitoolbar_for "lead_note_other_details" %>
