<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'leads', :plugin => 'leads' %>
<% end %>

<div id="associated-notes">
<% if @lead.notes.size > 0 %>
  <h3>Associated Notes</h3>
  <% @lead.notes.each do |note| %>
    <div class="<%= cycle('odd', 'even') %>">
      <div id="note-details">
        <h4>
          <%= image_tag("/images/projects.png") %>  <%= note.summary(true) %> (<%= note.state %>)
        </h4>
        <div id="edit-lead">
          <%= image_tag "/images/edit.png" %> 
          <small><%= link_to "Change", {:controller => "lead_notes", :action => "edit", :id => note.id} %></small>
        </div>
        <div class="note-author">
          <small><%=authoring note.created_at, note.author.name %></small>
        </div>
        <table>
          <% note.attributes_entered.each do |attribute, value| %>
            <tr class="note-attr">
              <td class="name"><%= attribute.camelize %></td>: 
              <% if attribute.eql?("other_details") %>
                <td class="value"><%= textilizable value %></td>
              <% else %>
                <td class="value"><%= value %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
</div>
