<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'leads', :plugin => 'leads' %>
  <%= javascript_include_tag 'fill_date', :plugin => 'leads' %>
  <%= javascript_include_tag 'edit_on_click', :plugin => 'highrise-edit-on-click' %>
<% end %>

<h2>Search Events</h2>

<div id="search_events"><%= render :partial => "search" %></div>

<div id="results">
  <%= render :partial => 'notes' %>
</div>

<% content_for(:header_tags) do %>
  <style type="text/css">
    .icon-users { background-image: url(../../images/users.png); }
  </style>
<% end %>

