<%= error_messages_for 'lead' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'multiple_select', :plugin => 'leads' %>
  <%= javascript_include_tag 'organization', :plugin => 'leads' %>
  <%= javascript_include_tag 'edit_on_click', :plugin => 'highrise-edit-on-click' %>
<% end %>

<div class="box"> 
  <%= render :partial => 'org_details', :locals => {:f => f, :belongs_to => "lead", :org => @org} %>
  <fieldset>
    <legend> Lead Details </legend>

    <p><%= f.select 'state', Lead::STATES, :required => true -%></p>

    <p><%= f.eoc_select 'assigned_to_id', @lead.assignable_members.collect{|p| [p.name, p.id]}, {:include_blank => true}, {} -%></p>


    <p><%= label_tag "Related Product(s)" %><span class="required">*</span></p>
    <%= collection_multiple_select 'lead', 'project_ids', Project.products, :id, :name, 
      {:selected_items => @lead.project_ids, :outer_class => "multiple-select"} -%>
      
      <p><label><%= "Watchers" %></label>
      <% @lead.watching_members.each do |user| %>
        <label class="floating">
          <%= check_box_tag 'lead[watcher_user_ids][]', user.id, @lead.watcher_user_ids.include?(user.id) %> <%= h user%>
        </label>
      <% end %>
    </p>
  </fieldset>
</div>
