<%= error_messages_for 'lead' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'multiple_select', :plugin => 'leads' %>
<% end %>

<div class="box"> 
  <p>
    <%= f.text_field 'name', :label=>l(:field_lead_name) -%>
  </p>
  <p>
    <%= f.text_field 'company', :label=>l(:field_lead_company) -%>
  </p>
  <p>
    <%= f.text_area 'address', :label=>l(:field_lead_address), :rows => 5 -%>
  </p>
  <p>
    <%= f.text_field 'phone', :label=>l(:field_lead_phone) -%>
  </p>
  <p>
    <%= f.text_field 'email', :label=>l(:field_lead_email) -%>
  </p>
  <p>
    <%= f.text_field 'website', :label=>l(:field_lead_website) -%>
  </p>
  <p>
    <%= f.text_field 'skype_name', :label=>l(:field_lead_skype) -%>
  </p>
  <p>
  <%= label_tag "Products" %>
  <%= collection_multiple_select 'lead', 'project_ids', Project.products, :id, :name, 
    {:selected_items => @lead.project_ids, :outer_class => "multiple-select"} -%>
  </p>
</div>
