<%= error_messages_for 'lead' %>

<div class="box"> 
  <p>
    <%= f.text_field 'name', :label=>l(:field_lead_name) -%>
  </p>
  <p>
    <%= f.text_field 'company', :label=>l(:field_lead_company) -%>
  </p>
  <p>
    <%= f.text_area 'address', :label=>l(:field_lead_address), :rows => 5 -%>
  </p>
  <p>
    <%= f.text_field 'phone', :label=>l(:field_lead_phone) -%>
  </p>
  <p>
    <%= f.text_field 'email', :label=>l(:field_lead_email) -%>
  </p>
  <p>
    <%= f.text_field 'website', :label=>l(:field_lead_website) -%>
  </p>
  <p>
    <%= f.text_field 'skype_name', :label=>l(:field_lead_skype) -%>
  </p>
</div>
