<%= error_messages_for 'lead' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'multiple_select', :plugin => 'leads' %>
  <%= javascript_include_tag 'organization', :plugin => 'leads' %>
<% end %>

<div class="box"> 
  <fieldset>
    <legend> Organization Details </legend>
    <% fields_for "lead[org_attributes]", @org, :builder => TabularFormBuilder do |ff| %>
      <p><%= ff.text_field 'name', :label=> "Name", :required => true -%></p>

      <p><%= ff.text_field 'location', :label=> "Area, City", :required => true -%></p>

      <p><%= ff.select 'category', Org::CATEGORIES, :label=> "Category" -%></p>
      
      <p><%= ff.text_field 'head_count', :label=> "Head Count", :size => 10 -%></p>
      
      <p><%= ff.text_field 'email', :label=> "Email" -%></p>
      
      <p><%= ff.text_field 'website', :label=> "Website" -%></p>
      
      <p><%= ff.text_area 'contact_details', :label=> "Contact Details", :rows => 4 -%></p>
    <% end %>
  </fieldset>

  <fieldset>
    <legend> Lead Details </legend>

    <p><%= f.select 'state', Lead::STATES -%></p>

    <p><%= f.select 'assigned_to_id', @lead.assignable_members.collect{|p| [p.name, p.id]}, :include_blank => true -%></p>


    <p><%= label_tag "Related Product(s)" %></p>
    <%= collection_multiple_select 'lead', 'project_ids', Project.products, :id, :name, 
      {:selected_items => @lead.project_ids, :outer_class => "multiple-select"} -%>
      
      <p><label><%= "Watchers" %></label>
      <% @lead.watching_members.each do |user| %>
        <label class="floating">
          <%= check_box_tag 'lead[watcher_user_ids][]', user.id, @lead.watcher_user_ids.include?(user.id) %> <%= h user%>
        </label>
      <% end %>
    </p>
  </fieldset>
</div>
