<% if !controller.action_name.eql?("edit") %>
  <%= hidden_field_tag 'org_state', "#{(params["org_state"] || "")}" %> 
  <div id="org-container" style="<%= @bypass_org ? "display:none" : "" %>">
  <%= javascript_include_tag "organization", :plugin => "leads" %>
  <span id="belongs_to" class="nodisplay"><%=belongs_to%></span>
<fieldset>
  <legend> Organization Details </legend>

  <div id="existing-org" >
    <p>
      <label>Name <span class="required">*</span></label>
      <%= text_field_with_auto_complete :org, :name, {:value => (org.new_record? ? nil : org.name)}, :select => "org-name", :after_update_element => "appendOrgId" %>
      <span class="nodisplay"><%= link_to_function " or add new", "showNewOrg('#{belongs_to}');", :id => "new-link" %></span>
    </p>
    <%= javascript_tag  "Element.insert($('org_name'), {after:$('new-link')})" %>
    <%= f.hidden_field 'org_id', :value => (org.new_record? ? "" : org.id) %>
    <%= params["org-state"] %>
  </div>

  <div id="new-org" style="display:none;" class="new-org">
    <% fields_for "#{belongs_to}[org_attributes]", org, :builder => TabularFormBuilder do |ff| %>
      <p>
        <%= ff.text_field 'name', :label=> "Name", :required => true -%>
        <%= link_to_function "or find existing", "showExistingOrg('#{belongs_to}');" %>
      </p>

      <p><label>Location<span class="required"> *</span></label>
      <%= text_field_with_auto_complete 'org', 'location', {:label=> "Area, City", :required => true, :value => org.location}, :url => {:controller => "orgs", :action => "auto_complete_for_location_name"}%></p>

      <p><%= ff.select 'category', Org::CATEGORIES, :label=> "Category", :required => true -%></p>

      <p><%= ff.eoc_text_field 'head_count', :label=> "Head Count", :size => 10, :alt_text => "Enter the number of students" -%></p>

      <p><%= ff.eoc_text_field 'email', :label=> "Email", :alt_text => "Enter Email" -%></p>

      <p><%= ff.eoc_text_field 'website', :label=> "Website", :alt_text => "Add Website Address" -%></p>

      <p><%= ff.eoc_text_area 'contact_details', :label=> "Contact Details", :rows => 4, :alt_text => "Add address and phone number" -%></p>
    <% end %>
  </div>
</fieldset>


  <% if @show_org_form %>
    <%= javascript_tag "showNewOrg('#{belongs_to}');"%>
  <% else %>
    <%= javascript_tag "showExistingOrg('#{belongs_to}');"%>
  <% end %>
</div>
<% unless belongs_to.eql?('lead') %>
  <div style="width:100%;text-align:right;margin-bottom:10px;">
    <%= link_to_function "Add/Remove Organization", "$('org-container').toggle();toggleOrg();return false;"%>
  </div>
<% end %>
<% end %>
