<fieldset>
  <legend>Search Leads</legend>
  <% form_remote_tag(:url => {:controller => "leads", :action => "search"}, :method => :get, :update => "results") do %>
    <table class="search">
      <tr>
        <td><b>State</b></td> 
        <td><%= eoc_select 'lead', 'state', Lead::STATES, {:include_blank => "All", :alt_text => "All States"}, {} %></td>
        <td><b>Organization</b></td> 
        <td><%= text_field_with_auto_complete :org, :name, {:size => 15}, :select => "org-name"  %></td>
      </tr>
      <tr>
        <td><b>Assigned To</b></td> 
        <td><%= eoc_select 'lead', 'assigned_to_id',  Lead.assignable_members.collect{|c| [c.name, c.id]}, {:include_blank => true, :alt_text => "All Assignees"}, {}%></td>
        <td><b>Location</b></td> 
        <td><%= text_field_with_auto_complete :location, :name, :size => 15 %></td>
      </tr>
      <tr>
        <td><b>Author</b></td> 
        <td><%= eoc_select 'lead', 'author_id',  Lead.assignable_members.collect{|c| [c.name, c.id]}, {:include_blank => true, :alt_text => "All Authors"}, {}%></td>
        <td><b>Products</b></td> 
        <td><%= eoc_select 'lead', 'product_id', Project.products.collect{|p| [p.name, p.id]}, {:include_blank => true, :alt_text => "All Products"}, {} %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align:right"><%= submit_tag "Search Leads" %></td>
      </tr>
    </table>
  <% end %>
</fieldset>

