<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'leads', :plugin => 'leads' %>
  <%= javascript_include_tag 'fill_date', :plugin => 'leads' %>
  <%= javascript_include_tag 'edit_on_click', :plugin => 'highrise-edit-on-click' %>
<% end %>

<div class="contextual">
  <% if Lead.assignable_members.include?(User.current) %>
    <%= link_to l(:label_lead_new), {:controller => 'leads', :action => 'new'}, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= l(:label_lead_plural) %></h2>

<div id="search_leads"><%= render :partial => "search" %></div>
<div id="search_events" style="display:none;"><%= render :partial => "search_events" %></div>

<div id="results">
  <%= render :partial => 'leads' %>
</div>

<% content_for(:header_tags) do %>
  <style type="text/css">
    .icon-users { background-image: url(../../images/users.png); }
  </style>
<% end %>

